<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-04.css">
</head>
<body>        
    <div class="content_right">

        <div class="cabecera">

            <div class="titulo">

                <p>
                    Exploration and inspiration
                </p>

            </div>

            <div class="parrafo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
                </p>
            </div>

            <div class="boton">
                <a href="#">
                    Explore
                </a>
            </div>

        </div>


        <div class="text_list">

            <div class="elemento_1">
                <p class="title_1">
                    01
                </p>
                <p class="parrafo_1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.
                </p>
            </div>



            <div class="elemento_2">
                <p class="title_2">
                    02
                </p>
                <p class="parrafo_2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.
                </p>
            </div>

        </div>
        
    </div>



    <div class="imagen">
        <img src="../src/storage/img/inside-weather-Uxqlfigh6oE-unsplash.jpg">
    </div>
</body>
</html>