<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina5.css">
</head>
<body>

    <div class="titulo">

    </div>

    <div class="contenido">
        
        <div class="contenido_1">

            <div class="seccion_1">

                <div class="titulo_1">

                    01

                </div>

                <div class="parrafo_1">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.

                </div>

            </div>

        </div>

    </div>

</body>
</html>