<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina7.css">
</head>
<body>
    <div class="titulo">
        <p>
            Design is the way how you express the feelings
        </p>
    </div>



    <div class="parrafo1">
        <p class="titulo1">
            01
        </p>
        <p class="texto1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

    <div class="parrafo2">
        <p class="titulo2">
            02
        </p>
        <p class="texto2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>  

    <div class="parrafo3">
        <p class="titulo3">
            03
        </p>
        <p class="texto3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

    <div class="parrafo4">
        <p class="titulo4">
            04
        </p>
        <p class="texto4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>







    <div class="imagen1">
        <img src="../src/storage/img/imagen1.jpg" alt="imagen1">
        <div class="sombra-img-1"></div>
        <div class="contenido-img-1">
            <p class="titulo-img-1">
                Title
            </p>
            <p class="texto-img-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
            </p>
        </div>
    </div>





    <div class="imagen2">
        <img src="../src/storage/img/imagen2.jpg" alt="imagen2">
        <div class="sombra-img-2"></div>
        <div class="contenido-img-2">
            <p class="titulo-img-2">
                Title
            </p>
            <p class="texto-img-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
            </p>
        </div>
    </div>

    <div class="imagen3">
        <img src="../src/storage/img/imagen3.jpg" alt="imagen3">
        <div class="sombra-img-3"></div>
        <div class="contenido-img-3">
            <p class="titulo-img-3">
                Title
            </p>
            <p class="texto-img-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
            </p>
        </div>
    </div>
    
    <div class="imagen4">
        <img src="../src/storage/img/imagen4.jpg" alt="imagen4">
        <div class="sombra-img-4"></div>
        <div class="contenido-img-4">
            <p class="titulo-img-4">
                Title
            </p>
            <p class="texto-img-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus
            </p>
        </div>
    </div>
    

</body>
</html>