<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina-3.css">
</head>
<body>
    <div class="contenido">

        <div class="titulo">
            <p>
                Just that simple
            </p>
        </div>

        <div class="content">

            <div class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.
            </div>

            <div class="boton_primario">
                <a href="#">
                    Get started
                </a>
            </div>

        </div>
        

    </div>  
</body>
</html>