<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina8.css">
</head>
<body>


    <div class="imagen">
        <img src="../src/storage/img/persona.png" alt="persona" class="img_persona">
        <img src="../src/storage/img/pattern.png" alt="pattern" class="pattern">
        <img src="../src/storage/img/pattern-1.png" alt="pattern-1" class="pattern-1">
        <div class="circulo">
        </div>
    </div>




    <div class="titulo">
        <p>
            Take your designs to the next level
        </p>
    </div>




    <div class="contenido">

    </div>



</body>
</html>