<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina7.css">
</head>
<body>
    <div class="titulo">
        <p>
            Design is the way how you express the feelings
        </p>
    </div>



    <div class="parrafo1">
        <p class="titulo1">
            01
        </p>
        <p class="texto1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

    <div class="parrafo2">
        <p class="titulo2">
            02
        </p>
        <p class="texto2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>  

    <div class="parrafo3">
        <p class="titulo3">
            03
        </p>
        <p class="texto3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>

    <div class="parrafo4">
        <p class="titulo4">
            04
        </p>
        <p class="texto4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>







    <div class="imagen1">
        <p>
            imagen1
        </p>
    </div>

    <div class="imagen2">
        <p>
            imagen2
        </p>
    </div>

    <div class="imagen3">
        <p>
            imagen3
        </p>
    </div>
    
    <div class="imagen4">
        <p>
            imagen4
        </p>
    </div>
    

</body>
</html>