<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina6.css">
    
</head>
<body>
    <div class="pagina6">

        <div class="logo">



            <p class="L1">
                L
            </p>
            <p class="o2">
                o
            </p><p class="r3">
                r
            </p><p class="e4">
                e
            </p><p class="m5">
                m
            </p><p class="r6">
                r
            </p><p class="i7">
                i
            </p><p class="p8">
                p
            </p><p class="s9">
                s
            </p><p class="u10">
                u
            </p><p class="m11">
                m
            </p>
            <p class="d12">
                d
            </p>
            <p class="o13">
                o
            </p>
            <p class="l14">
                l
            </p>
            <p class="o15">
                o
            </p>
            <p class="r16">
                r
            </p>
            <p class="s17">
                s
            </p>
            <p class="i18">
                i
            </p>
            <p class="t19">
                t
            </p>
            <p class="a20">
                a
            </p>
            <p class="m21">
                m
            </p>
            <p class="e22">
                e
            </p>
            <p class="t23">
                t
            </p>
            <p class="asd24">
                ,
            </p>
            <p class="c25">
                c
            </p>
            <p class="o26">
                o
            </p>
            <p class="n27">
                n
            </p>
            <p class="s28">
                s
            </p>




            <img src="../src/storage/img/Vector.png" alt="logo">
    
        </div>

    <div class="seccion_izq">

    <div class="contenido">
        <div class="titulo_principal">
            <p>
                THE eWatch with the newest microchip technology
            </p>
        </div>
        <div class="parrafo_principal">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
            </p>
        </div>
        <div class="botones_group">
            <div class="boton_1">
                <a href="#">
                    Order now
                </a>
            </div>
            <div class="boton_2">
                <a href="#">
                    Explore more
                </a>
            </div>
        </div>
    </div>







    <div class="lista">
        <div class="elemento_1">
            <div class="icono">
                <img src="../src/storage/img/Icons1.png" alt="sol">
            </div>
            <div class="texto_elemento">
                <p>
                    Lorem ipsu dolor amet
                </p>
            </div>
        </div>
        <div class="elemento_2">
            <div class="icono">
                <img src="../src/storage/img/Icons2.png"" alt="estrella">
            </div>
            <div class="texto_elemento">
                <p>
                    Lorem ipsu dolor amet
                </p>
            </div>
        </div>
        <div class="elemento_3">
            <div class="icono">
                <img src="../src/storage/img/Icons3.png"" alt="ojo">
            </div>
            <div class="texto_elemento">
                <p>
                    Lorem ipsu dolor amet
                </p>
            </div>
        </div>
        <div class="elemento_4">
            <div class="icono">
                <img src="../src/storage/img/Icons4.png"" alt="globo">
            </div>
            <div class="texto_elemento">
                <p>
                    Lorem ipsu dolor amet
                </p>
            </div>
        </div>
    </div>


</div>






    <div class="collage">
        <div class="tag"><p>Award winning product</p></div>
        <div class="tag"><p>Ergonomic design</p></div>

        <div class="star"><img src="../src/storage/img/star.png" alt="estrella 1"></div>

        <div class="star2"><img src="../src/storage/img/Star-1.png" alt="estrella 2"></div>

        <div class="star3"><img src="../src/storage/img/Star.png" alt="estrella 3"></div>

        <div class="imagen_principal"><img src="../src/storage/img/reloj.jpg" alt="imagen principal"></div>

        <div class="cuadrado_1"></div>

        <div class="cuadrado_2"></div>
    </div>
</div>

</body>
</html>