<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina7.css">
</head>
<body>
    <div class="titulo">
        <p>
            Design is the way how you express the feelings
        </p>
    </div>



    <div class="parrafo1">
        <p>
            parrafo1
        </p>
    </div>

    <div class="parrafo2">
        <p>
            parrafo2
        </p>
    </div>  

    <div class="parrafo3">
        <p>
            parrafo3
        </p>
    </div>

    <div class="parrafo4">
        <p>
            parrafo4
        </p>
    </div>







    <div class="imagen1">
        <p>
            imagen1
        </p>
    </div>

    <div class="imagen2">
        <p>
            imagen2
        </p>
    </div>

    <div class="imagen3">
        <p>
            imagen3
        </p>
    </div>
    
    <div class="imagen4">
        <p>
            imagen4
        </p>
    </div>
    

</body>
</html>