<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina6.css">
    
</head>
<body>


    <div class="contenido">

        <div class="titulo_principal">

            <p>
                THE eWatch with the newest microchip technology
            </p>

        </div>

    </div>









    <div class="lista">



    </div>

    <div class="collage">



    </div>

    <div class="logo">



    </div>

</body>
</html>