<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina-1.css">
</head>
<body>
    <div class="contenido">
        <div class="texto">
            <div class="titulo">
                <p>
                    Discover the beauty around the world
                </p>
            </div>
            <div class="parrafo">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
            </div>
            <div class="boton">
                <a href="#">
                    Explore
                </a>
            </div>
        </div>
        <div class="collage">
            <div class="fila_1">
                <div class="imagen_1">
                    <!-- <img src="../src/storage/img/imagen-1.jpg" alt=""> -->
                </div>
                <div class="imagen_2">
                    <!-- <img src="../src/storage/img/imagen-2.jpg" alt=""> -->
                </div>
                <div class="imagen_3">
                    <!-- <img src="../src/storage/img/imagen-3.jpg" alt=""> -->
                </div>
                <div class="imagen_4">
                    <!-- <img src="../src/storage/img/imagen-4.jpg" alt=""> -->
                </div>
            </div>
            <div class="fila_2">
                <div class="imagen_5">
                    <!-- <img src="../src/storage/img/imagen-5.jpg" alt=""> -->
                </div>
                <div class="imagen_6">
                    <!-- <img src="../src/storage/img/imagen-6.jpg" alt=""> -->
                </div>
                <div class="imagen_7">
                    <!-- <img src="../src/storage/img/imagen-7.jpg" alt=""> -->
                </div>
                <div class="imagen_8">
                    <!-- <img src="../src/storage/img/imagen-8.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>