<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina5.css">
</head>
<body>

    <div class="titulo">

        Projects and practice

    </div>

    <div class="contenido">
        
        <div class="contenido_1">

            <div class="seccion_1">

                <div class="titulo_1">

                    01

                </div>

                <div class="parrafo_1">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.

                </div>

            </div>

            <div class="imagen_1">

                <img src="../src/storage/img/vinicius-amnx-amano-OHPdgstNFGs-unsplash.jpg" alt="imagen_1"> 

            </div>

        </div>




        <div class="contenido_2">

            <div class="seccion_2">

                <div class="titulo_2">

                    02

                </div>

                <div class="parrafo_2">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.

                </div>

            </div>

            <div class="imagen_2">

                <img src="../src/storage/img/axel-ruffini-iulnjpZyWnc-unsplash.jpg" alt="imagen_2"> 

            </div>

        </div>





        <div class="contenido_3">

            <div class="seccion_3">

                <div class="titulo_3">

                    03

                </div>

                <div class="parrafo_3">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.

                </div>

            </div>

            <div class="imagen_3">

                <img src="../src/storage/img/jakob-owens-zYD_XzNyRyo-unsplash.jpg" alt="imagen_3"> 

            </div>

        </div>

    </div>


</body>
</html>


