@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .contenido_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "derecha";
}

body .contenido_grid .content_right{
    grid-area: "derecha";
    width: 100%;
    height: 100%;
    background-color: red;
}