@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagen titulo"
    "imagen contenido";
    margin: 64px;
}


.imagen{
    grid-area: imagen;
    width: 656px;
    height: 861.5px;
    display: flex;
    background-color: red;
    position: relative;
}

.imagen img{
    width: 618.33px;
    height: 795.5px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

