@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contenido";
    margin: 64px;
}

.contenido{
    width: 653px;
    height: 460px;
    margin-top: 157px;
    margin-right: 24px;
    margin-bottom: 70px;
    background-color: bisque;
}


.titulo_principal{
    width: 629px;
    height: 240px;
    margin-left: 24px;
    font-size: 64px;
    line-height: 80px;
    color: var(--color-2);
    background-color: azure;
    font-family: "PlayfairDisplay_Display";
}


.parrafo_principal{
    width: 629px;
    height: 90px;
    line-height: 30px;
    letter-spacing: 0%;
    font-size: 24px;
    color: var(--color-3);
    margin-left: 24px;
    margin-top: 32px;
    font-family: "Work_Sans";
    color:var(--color-3);
    margin-bottom: 32px;
}




.botones_group{
    width: 505px;
    height: 66px;
    margin-left: 24px;
    margin-right: 124px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_1,
.boton_2{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boton_1{
    width: 219px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-2);
    margin-right: 32px;
}

.boton_1 a{
    color: var(--color-4);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}

.boton_2 {
    width: 254px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-4);
}

.boton_2 a{
    color: var(--color-3);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}