@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contenido";
    margin: 64px;
}


.pagina6{
    display: flex;
}



.contenido{
    width: 653px;
    height: 460px;
    margin-top: 157px;
    margin-right: 24px;
    margin-bottom: 70px;
    background-color: bisque;
}


.titulo_principal{
    width: 629px;
    height: 240px;
    margin-left: 24px;
    font-size: 64px;
    line-height: 80px;
    color: var(--color-2);
    background-color: azure;
    font-family: "PlayfairDisplay_Display";
}


.parrafo_principal{
    width: 629px;
    height: 90px;
    line-height: 30px;
    letter-spacing: 0%;
    font-size: 24px;
    color: var(--color-3);
    margin-left: 24px;
    margin-top: 32px;
    font-family: "Work_Sans";
    color:var(--color-3);
    margin-bottom: 32px;
}




.botones_group{
    width: 505px;
    height: 66px;
    margin-left: 24px;
    margin-right: 124px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_1,
.boton_2{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boton_1{
    width: 219px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-2);
    margin-right: 32px;
}

.boton_1 a{
    color: var(--color-4);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}

.boton_2 {
    width: 254px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-4);
}

.boton_2 a{
    color: var(--color-3);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}






.lista{
    width: 652px;
    height: 118px;
    border-radius: 24px;
    border: solid;
    border-color: var(--color-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elemento_1,
.elemento_2,
.elemento_3,
.elemento_4{
    width: 91px;
    height: 70px;
    background-color: azure;
}

.elemento_1{
    margin-left: 24px;
    margin-right: 80px;
}

.elemento_2{
    margin-right: 80px;
}

.elemento_3{
    margin-right: 80px;
}

.elemento_4{
    margin-right: 24px;
}

.icono img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.texto_elemento{
    width: 91px;
    height: 38px;
    line-height: auto;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    font-size: 16px;
    color: var(--color-5);
}









.collage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 635.31px;
    height: 778.19px;
    position: relative;
    background-color: aqua;
    margin-left: 24px;
}

.tag{
    position: absolute;
    z-index: 20;
    background-color: var(--color-6);
    border-radius: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.tag:first-child{
    width: 252px;
    height: 53px;
    top: 134px;
    right: 0;
    bottom: 529.24px;
    font-size: 18px;
    font-family: "Work_Sans";
    color: var(--color-4);
}

.tag:nth-child(2){
    width: 256px;
    height: 60px;
    bottom: 99.19px;
    right: 312.76px;
    font-size: 24px;
    font-family: "Work_Sans";
    color: var(--color-4);
}



.imagen_principal img{
    width: 480px;
    height: 628px;
    border-radius: 51.83px;
    z-index: 19;
    background-color: red;
    right: 34.55px;
    object-fit: cover;
}


.star img{
    z-index: 20;
    position: absolute;
    right: 90px;
    bottom: 86.74px;
    object-fit: cover;
    width: 102.74px;
    height: 129.58px;
}

.star3 img{
    z-index: 20;
    position: absolute;
    left: 105px;
    top: 137px;
    object-fit: cover;
    width: 75px;
    height: 94.59px;
}