@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contenido";
    margin: 64px;
}


.pagina6{
    display: flex;
}

.logo{
    position: absolute;
    top: 64px;
    left: 64px;
    width: 101.04px;
    height: 101.16px;
    background-color: red;
    font-size: 14.22px;
    font-family: 'Times New Roman', Times, serif;
}


.logo .L1 {
    position: absolute;
    top: 4.76px;
    left: 63.47px;
    transform: rotate(-148.74deg);
    width: 9px;
    height: 16px;
}

.logo .o2{
    position: absolute;
    top: 1.68px;
    left: 56.9px;
    transform: rotate(-163.37deg);
    width: 8px;
    height: 16px;
}

.logo .r3{
    position: absolute;
    top: 0.82px;
    left: 52.02px;
    transform: rotate(-174.41deg);
    width: 5px;
    height: 16px;
}

.logo .e4{
    position: absolute;
    top: 0.75px;
    left: 43.08px;
    transform: rotate(174.91deg);
    width: 7px;
    height: 16px;
}

.logo .m5{
    position: absolute;
    top: 1.92px;
    left: 28.17px;
    transform: rotate(160.18deg);
    width: 12px;
    height: 16px;
}

.logo .r6{
    position: absolute;
    top: 7.88px;
    left: 22.13px;
    transform: rotate(147.29deg);
    width: 4px;
    height: 16px;
}

.logo .i7{
    position: absolute;
    top: 11.96px;
    left: 16.59px;
    transform: rotate(138.82deg);
    width: 4px;
    height: 16px;
}















.contenido{
    width: 653px;
    height: 460px;
    margin-top: 157px;
    margin-right: 24px;
    margin-bottom: 70px;
    background-color: bisque;
}


.titulo_principal{
    width: 629px;
    height: 240px;
    margin-left: 24px;
    font-size: 64px;
    line-height: 80px;
    color: var(--color-2);
    background-color: azure;
    font-family: "PlayfairDisplay_Display";
}


.parrafo_principal{
    width: 629px;
    height: 90px;
    line-height: 30px;
    letter-spacing: 0%;
    font-size: 24px;
    color: var(--color-3);
    margin-left: 24px;
    margin-top: 32px;
    font-family: "Work_Sans";
    color:var(--color-3);
    margin-bottom: 32px;
}




.botones_group{
    width: 505px;
    height: 66px;
    margin-left: 24px;
    margin-right: 124px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_1,
.boton_2{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boton_1{
    width: 219px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-2);
    margin-right: 32px;
}

.boton_1 a{
    color: var(--color-4);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}

.boton_2 {
    width: 254px;
    height: 66px;
    border-radius: 16px;
    background-color: var(--color-4);
}

.boton_2 a{
    color: var(--color-3);
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    text-decoration: none;
}






.lista{
    width: 652px;
    height: 118px;
    border-radius: 24px;
    border: solid;
    border-color: var(--color-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elemento_1,
.elemento_2,
.elemento_3,
.elemento_4{
    width: 91px;
    height: 70px;
    background-color: azure;
}

.elemento_1{
    margin-left: 24px;
    margin-right: 80px;
}

.elemento_2{
    margin-right: 80px;
}

.elemento_3{
    margin-right: 80px;
}

.elemento_4{
    margin-right: 24px;
}

.icono img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.texto_elemento{
    width: 91px;
    height: 38px;
    line-height: auto;
    letter-spacing: 0%;
    font-family: "Work_Sans";
    font-size: 16px;
    color: var(--color-5);
}

















.collage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 635.31px;
    height: 778.19px;
    position: relative;
    background-color: aqua;
    margin-left: 24px;
}

.tag{
    position: absolute;
    z-index: 20;
    background-color: var(--color-6);
    border-radius: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.tag:first-child{
    width: 252px;
    height: 53px;
    top: 134px;
    right: 0;
    bottom: 529.24px;
    font-size: 18px;
    font-family: "Work_Sans";
    color: var(--color-4);
}

.tag:nth-child(2){
    width: 256px;
    height: 60px;
    bottom: 99.19px;
    right: 312.76px;
    font-size: 24px;
    font-family: "Work_Sans";
    color: var(--color-4);
}



.imagen_principal img{
    position: absolute;
    width: 480px;
    height: 628px;
    border-radius: 51.83px;
    z-index: 19;
    background-color: red;
    right: 34.24px;
    object-fit: cover;
    bottom: 59.95px;
}


.star img{
    z-index: 20;
    position: absolute;
    right: 51.77px;
    bottom: 86.34px;
    object-fit: cover;
    width: 102.74px;
    height: 129.58px;
}

.star2 img{
    z-index: 20;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 135.85px;
    height: 135.85px;
}

.star3 img{
    z-index: 20;
    position: absolute;
    left: 160px;
    top: 157px;
    object-fit: cover;
    width: 75px;
    height: 94.59px;
}



.cuadrado_1{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 310px;
    height: 476px;
    border-radius: 40px;
    border: solid;
    border-color: var(--color-5);
}

.cuadrado_2{
    position: absolute;
    top: 31px;
    left: 68px;
    border-radius: 48px;
    border: solid;
    border-color: var(--color-5);
    width: 480px;
    height: 568px;
}
