@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    padding: 64px;
}

body .contenido{
    width: 610px;
    height: 335px;
    background-color: red;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

body .contenido .titulo{
    color: var(--color-1);
    font-family: AvenirLTStd-Heavy;
    font-size: 64px;
    margin-top: 0;
    background: green;
    text-align: center;
}

body .contenido .parrafo{
    color: var(--color-1);
    margin-top: 24px;
    font-family: AvenirLTStd-Roman;
    font-size: 26px;
    background: blue;
    text-align: center;
}

body .contenido .boton{
    margin-top: 24px;
    width: 158px;
    height: 54px;
    background: var(--color-1);
    border-radius: 16px;
    color: var(--color-2);
    font-family: AvenirLTStd-Roman;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 24px auto;
}

body .contenido .boton a{
    text-decoration: none;
    color: var(--color-2);
}



/* 
body .collage{
    width: 1312px;
    height: 592px;
    background: yellow;
    border: 2px solid black;
}

body .collage .fila_1{
    width: 1312px;
    height: 288px;
    background: blue;
    border: 2px solid black;
}

body .collage .fila_2{
    width: 1312px;
    height: 288px; 
    background: green;
    border: 2px solid black;
} 
*/