@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 316px);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo titulo titulo nada"
    "parrafo1 parrafo2 parrafo3 parrafo4"
    "imagen1 imagen2 imagen3 imagen4";
    margin: 64px auto;
    gap: 16px;
    justify-content: center;
}

.titulo{
    width: 833px;
    height: 176px;
    background-color: red;
    grid-area: titulo;
    font-size: 72px;
    font-family: "AvenirLTStd-Heavy";
    color: var(--color-2);
}



.parrafo1{
    width: 316px;
    height: 133px;
    background-color: blue;
    grid-area: parrafo1;
}

.titulo1, .titulo2, .titulo3, .titulo4{
    width: 100%;
    height: auto;
    background-color: green;
    grid-area: titulo1;
    font-size: 40px;
    font-family: "AvenirLTStd-Heavy";
    color: var(--color-2);
    opacity: 0.35;
}

.texto1, .texto2, .texto3, .texto4{
    width: 100%;
    height: auto;
    background-color: red;
    grid-area: texto1;
    font-size: 24px;
    font-family: "AvenirLTStd-Roman";
    color: var(--color-2);
    opacity: 0.8;
}






.parrafo2{
    width: 316px;
    height: 133px;
    background-color: yellow;
    grid-area: parrafo2;
}

.parrafo3{
    width: 316px;
    height: 133px;
    background-color: green;
    grid-area: parrafo3;
}

.parrafo4{
    width: 316px;
    height: 133px;
    background-color: red;
    grid-area: parrafo4;
}


.imagen1{
    width: 316px;
    height: 402px;
    grid-area: imagen1;
}

.imagen1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen1 .contenido-img-1{
    width: 317px;
    height: 147px;
    display: flex;
    background-color: green;
}

.titulo-img-1{
    width: 100%;
    height: auto;
    background-color: red;
}
/*miguel si lees esto me quiero matar*/









.imagen2{
    width: 316px;
    height: 402px;
    background-color: blue;
    grid-area: imagen2;
}

.imagen3{
    width: 316px;
    height: 402px;
    background-color: yellow;
    grid-area: imagen3;
}

.imagen4{
    width: 316px;
    height: 402px;
    background-color: red;
    grid-area: imagen4;
}

