:root{
    --color-1: #252525;
    --color-2: #FFFFFF;

}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/fonts/Avenir-Font-Family/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/fonts/Avenir-Font-Family/AvenirLTStd-Roman.otf);
}