:root{
    --color-1: #000000;
}

@font-face {
    font-family: "example";
    src: url(../storage/fonts/example.ttf);
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/fonts/Avenir-Font-Family/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/fonts/Avenir-Font-Family/AvenirLTStd-Roman.otf);    
}



